:root {
    --darkBrown: #2b1500;
    --white: #ffffff;
    --black: #000000;
    --beige: #bfa180;
    --lightOrange: #eaad70;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.tittle {
    text-align: center;
    font-size: 3.8rem;
    font-weight: bold;
}

.cont .cont-hero span {
    font-size: 2rem;
}

.pNavigation {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px) {
    .pNavigation {
        flex-direction: row;
    }
}

.nav-bg {
    background-color: var(--beige);
}

.cont {
    max-width: 120rem;
    margin: 0 auto;
}

.pNavigation a {
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
}

.pNavigation a:hover {
    background-color: var(--lightOrange);
    color: var(--darkBrown);
    -webkit-transition: background-color 200ms linear, color 200ms;
    -ms-transition: background-color 200ms linear, color 200ms;
    transition: background-color 200ms linear, color 200ms;
    
}


.hero {
    background-image: url(../imgs/desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    position: relative;
}

.hero .cont-hero .tittle {
    color: var(--white);
    text-shadow: -4px 2px 12px #00000049;
}

.cont-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
}

.cont-hero h2,
.cont-hero p {
    color: whitesmoke;
}

.cont-hero a {
    text-decoration: none;
    background-color: var(--lightOrange);
    border-radius: 9px;
    padding: 6px;
    color: whitesmoke;
    font-size: 16px;
    -webkit-transition: color 300ms linear, padding 500ms, font-size 500ms;
    -ms-transition: color 300ms linear, padding 500ms, font-size 500ms;
    transition: color 300ms linear, padding 500ms, font-size 500ms;
}

.cont-hero a:hover {
    color: black;
    padding: 8px 13px;
    font-size: 2rem;

}