:root {
    --darkBrown: #2b1500;
    --white: #ffffff;
    --black: #000000;
    --beige: #bfa180;
    --lightOrange: #eaad70;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.tittle {
    text-align: center;
    font-size: 3.8rem;
    font-weight: bold;
}

.tittle span {
    font-size: 2rem;
}

.pNavigation {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px) {
    .pNavigation {
        flex-direction: row;
    }
}

.nav-bg {
    background-color: var(--beige);
}

.cont {
    max-width: 120rem;
    margin: 0 auto;
}

.pNavigation a {
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
}

.pNavigation a:hover {
    background-color: var(--lightOrange);
    color: var(--darkBrown);
}


.hero {
    background-image: url(../imgs/desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5rem;
}
