:root {
    --darkBrown: #2b1500;
    --white: #ffffff;
    --black: #000000;
    --beige: #bfa180;
    --lightOrange: #eaad70;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to top, #cfc7b4 85%, #ffffff);
}

main {
    padding: 2rem;
}

main h2 {
    text-align: center;
}

footer {
    text-align: center;
}

.tittle {
    text-align: center;
    font-size: 3.8rem;
    font-weight: bold;
}

.nav-bg {
    background-color: var(--beige);
}

.pNavigation {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.pNavigation a {
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
}

@media (max-width: 480px) {
    .pNavigation a {
        width: 100%;
        text-align: center;
    }
}

.pNavigation a:hover {
    background-color: var(--lightOrange);
    color: var(--darkBrown);
    text-align: center;
    transition: background-color 200ms linear, color 200ms;
}

@media (min-width: 480px) {
    .pNavigation {
        flex-direction: row;
    }
}

.hero {
    background-image: url(../imgs/desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
    position: relative;
    margin-bottom: 2rem;
}

.cont-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
}

.hero .cont-hero .tittle {
    color: var(--white);
    text-shadow: -4px 2px 12px #00000049;
}

.cont-hero h2,
.cont-hero p {
    color: whitesmoke;
}

.cont-hero a {
    text-decoration: none;
    background-color: var(--lightOrange);
    border-radius: 9px;
    padding: 6px  12px;
    color: whitesmoke;
    font-size: 16px;
    text-transform: uppercase;
   transition: all 400ms;
    width: 70%;
}

.cont-hero a:hover {
    color: black;
    transform: scale(1.3);
}

@media (min-width: 480px) {
    .cont-hero a {
        width: auto;
    }
}

.cont .cont-hero span {
    font-size: 2rem;
}

.cont {
    max-width: 120rem;
    margin: 0 auto;
}

.svc {
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0rem 15px;
    font-size: 1.7rem;
}

@media (min-width: 560px) {
    .svc {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 0fr);
    }
}


.svc h3 {
    color: var(--beige);
}

.shadow {
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 25px -2px #000000;
    box-shadow: 0px 0px 25px -2px #00000059;
    border-radius: 1rem;

}

.icns {
    background-color: var(--lightOrange);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbc {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   transition: all 300ms;
}

.sbc:hover{
    background-color: rgb(226, 226, 226);
    -webkit-box-shadow: 0px 0px 25px -2px #000000;
    box-shadow: 0px 0px 25px -2px #00000059;
    border-radius: 1rem;
    transform: scale(1.1);
}

.sbc p {
    line-height: 1.35;
}

.svc:hover .sbc{
    filter: blur(1px);
}

.svc .sbc:hover{
    filter: blur(0);
}




.sbc h3 {}

.frm {
    background-color: rgb(216, 216, 216);
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@media (min-width: 560px) {
    .frm {
        width: 60%;
    }
}

.frm fieldset {
    border: none;
}

.frm legend {
    color: var(--beige);
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.8rem;

}

.frm-camps .camp {
    margin-bottom: 1rem;
}

.frm-camps .camp label {
    color: var(--black);
    margin-bottom: 0.5rem;
    display: block;
}

.btn {
    color: whitesmoke;
    border-radius: 9px;
    border-style: none;
    background-color: var(--lightOrange);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 300ms;
}

.btn:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.1);
   }

.ipt {
    border-radius: 7px;
    border-style: none;
    padding: 0.7rem;
    width: 100%;
    resize: none;
}

.camp textarea{
    height: 20rem;
}

.snd{
    text-align: center;
}